<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home_content.name %>
</p>

<%= link_to 'Edit', edit_home_content_path(@home_content) %> |
<%= link_to 'Back', home_contents_path %>
