<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="//fonts.googleapis.com/css?family=Mada:400,900|Suez+One" rel="stylesheet";>
  </head>
  <body style="background-color: #f9f9f9;">
  <table>
    <tr>
      <td>
        <%= image_tag attachments['mail-logo.png'].url %>
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:22px; font-family: 'Suez One', serif; color: #d41a27;">
        Dive VIP,
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #242021;">
        <%= @manager_notes.note %>
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #242021;">
        Thank you for being a Cool Beans VIP,
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:16px; font-family: 'Suez One', serif; color: #d41a27;">
        The Dive Bar Crew
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #242021;">
        Open from 11am to 2am. | All ages welcomed until 9pm.
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #eee2c3;">
        <a href="coolbeansdenton.herokuapp.com" alt="Cool Beans Website" style="color: #3498db; text-decoration: underline;">Check out our latest specials at coolbeansdenton.com</a>
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:14px; font-family: Mada, sans-serif; color: #242021;">
        Cool Beans | Denton's Finest Dive Bar
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #242021;">
        1210 W Hickory St, Denton, TX 76201
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #242021;">
        <a href="tel:19403827025" style="color: #3498db; text-decoration: underline;">940-382-7025</a>
        | <a href="mailto:coolbeans.divebar@gmail.com" style="color: #3498db; text-decoration: underline;">coolbeans.divebar@gmail.com</a>
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif;">
        <a href="mailto:coolbeans.divebar@gmail.com?Subject=Please%20Unsubscribe%20Me" style="color: #34495e; text-decoration: underline;">Reply to Unsubscribe</a>
      </td>
    </tr>
  </table>
  </body>
</html>