<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="//fonts.googleapis.com/css?family=Mada:400,900" rel="stylesheet";>
  </head>
  <body style="background-color: #242021;">
  <table style="width: 300px; padding: 5px;">
    <tr>
      <td>
        <%= image_tag attachments['mail-logo.png'].url %>
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:22px; font-family: Mada, sans-serif; color: #f9f9f9;">
        Dive VIP,
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #eee2c3;">
        <%= @manager_notes.note %>
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #eee2c3;">
        Thank you for being a Cool Beans VIP,
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #f9f9f9;">
        The Dive Bar Crew
      </td>
    </tr>
  </table><br><br>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #eee2c3;">
        Open from 11am to 2am. | All ages welcomed until 9pm.
      </td>
    </tr>
  </table>
  <table style="width: 300px;">
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #eee2c3;">
        <a href="coolbeansdenton.herokuapp.com" alt="Cool Beans Website" style="color: #ffd333; text-decoration: underline;">Check out our latest specials at coolbeansdenton.com</a>
      </td>
    </tr>
  </table><br><br>
  </body>
</html>