<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="//fonts.googleapis.com/css?family=Mada:400,900" rel="stylesheet";>
  </head>
  <body style="background-color: #010101;">
  <table>
    <tr>
      <td style="font-size:22px; font-family: Mada, sans-serif; color: #eee2c3;">
        Dive VIP,
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="font-size:16px; font-family: Mada, sans-serif; color: #eee2c3;">
        <%= @manager_notes.note %>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="font-size:12px; font-family: Mada, sans-serif; color: #eee2c3;">
        Thank you for being a Cool Beans VIP.
      </td>
    </tr>
  </table>
  </body>
</html>