<div class="container">
<div class="row form-titles">
  <h1>Create a Menu Item</h1>
</div>
</div>

<%= render 'form' %>

<div class="container">
  <div class="row">
    <p><%= link_to 'Back', menu_items_path %></p>
  </div>
</div>