<div class="container">
  <div class="row form-titles">
    <div class="xs-12 col-md-6 col-md-offset-3 col-lg-offset-2">
      <h1>Review and Send</h1>
      <p>Great. This is the last time to review the email before it is sent.</p>
      <p>Press OK to email all the Dive VIPs your marketing message.</p>
    </div>
  </div>
</div>

<%= render 'form' %>

<div class="container">
  <div class="row form-titles">
    <div class="xs-12 col-md-6 col-md-offset-3 col-lg-offset-2">
      <h5><%= link_to 'Go Back to the Saved Email', manager_notes_path, class: "btn btn-primary" %></h5><br>
    </div>
  </div>
</div>
