<div class="container">
  <div class="row form-titles">
    <h1>Review and Send</h1>
    <p>OK. You are almost done. This is the last time to review the email before it is sent. It's usually helpful to have another person read it.</p>
    <p>Once you press OK, all the Dive VIPs will be emailed your marketing message.</p>
  </div>
</div>

<%= render 'form' %>

<div class="container">
  <div class="row form-titles">
    <h5><%= link_to 'Go Back to the Saved Emails', manager_notes_path %></h5>
  </div>
</div>
