<div class="container">
  <div class="row form-titles">
    <div class="xs-12 col-md-8 col-md-offset-2 col-lg-offset-2">
    <h1>Create an Email</h1>
    <p>Here are some promotional email tips: keep the Subject short; avoid all caps, and avoid exclamation points.</p>
    <p>The greeting and closing statements are automated. You only need to write the body of the email. A good suggestion is 60 to 80 words.</p>
  </div>
  </div>
</div>

<%= render 'form' %>

<div class="container">
  <div class="row form-titles">
    <div class="xs-12 col-md-6 col-md-offset-3 col-lg-offset-2">
      <h5><%= link_to 'Go Back to the Saved Email', manager_notes_path, class: "btn btn-primary" %></h5><br>
    </div>
  </div>
</div>