// Place all the styles related to the GalleryPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery-container {
  margin-bottom: 50px;
}
#gallery-form .panel-body p {
  color: #666666;
}

#gallery-form .input-lg {
  width: 100%;
} 

#gallery-header-image {
  background-image: url("beans-across2.png");
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: -20px 0 5% 0;
}

#gallery-header-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #d41a27;
  line-height: 90%;
  margin: 50px 20px;
}

#gallery-header-image h1 small {
  font-family: 'Rye', cursive;
  color: #eee2c3;
}

#gallery_photos {
  
  margin: 0 auto;
  
  .box {
    margin: 5px;
    width: 250px;
  }

  .photo-image {
    width: 100%;
  }
  
  p {
    font-size: 18px;
    color: #f9f9f9;
  }
  
  .photo-description {
    font-size: 14px;
    color: #eee2c3;
  }

  .panel {
    background: #0d0d0d;
  }

  .panel-footer {
    background: #010101;
  }
  .btn-default {
    float: right;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #gallery_photos {
    margin: 0 auto;
  }
  
  #gallery-header-image h1 {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: #d41a27;
  line-height: 90%;
  margin-top: 3%;
}
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #gallery-header-image {
  background-image: url("beans-across-lrg.png");
  height: 325px;
  }
  
  #gallery-header-image h1 {
  font-size: 100px;
  margin-top: 3%;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  #gallery-header-image {
  height: 375px;
  }
  
  #gallery-header-image h1 {
  font-size: 150px;
  margin-top: 3%;
  }
  
}