// Place all the styles related to the GalleryPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery_photos {
  margin: 0 auto;

  .box {
    margin: 5px;
    width: 214px;
  }

  .photo-image {
    width: 100%;
  }
  
  .photo-description {
    color: #eee2c3;
  }

  .panel {
    background: #0d0d0d;
  }
  
  p {
    color: #cccccc;
  }
  
  h5 {
    color: #cccccc;
    margin-bottom: 3px;
  }

}