// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hours-form .panel-body p {
  color: #666666;
}

#hours-form .panel-footer .btn-default {
    border-color: #242021;
    border-radius: 0;
  }

#hours-form .input-lg {
  width: 100%;
}