$font-family-sans-serif: 'Mada', sans-serif;
$headings-font-family: 'Suez One', serif;
$body-bg: #1a1a1a;
$text-color: #f9f9f9;
$navbar-height: 65px;
$navbar-default-bg: #000;
$navbar-default-link-color: #f9f9f9;
$navbar-default-link-active-bg: #000;
$navbar-default-link-active-color: #d41a27;
$navbar-default-link-hover-color: #ffc902;
$navbar-default-border: #000;
$navbar-default-toggle-border-color: #000;
$navbar-default-toggle-hover-bg: #000;
$brand-primary: #f9f9f9;
$jumbotron-heading-font-size: 300%;
$jumbotron-padding: 2%;
$component-active-color: #f9f9f9;
$page-header-border-color: none;
$btn-font-weight: normal;
$btn-primary-color: #eee2c3;
$btn-primary-bg: #242021;
$btn-primary-border: #eee2c3;
$btn-default-color: #d41a27;
$btn-default-bg: #f9f9f9;
$btn-default-border: #d41a27;
$btn-border-radius-large: 0;
$btn-border-radius-base: 0;
$input-border: #bdc3c7;
$input-border-radius-large: 0;
$panel-default-border: #333333;
$panel-default-text: #242021;
$panel-default-heading-bg: #eee2c3;
$panel-default-border: #eee2c3;
$panel-footer-bg: #e9d8af;
$panel-bg: #eee2c3;
$panel-border-radius: 0;
$panel-inner-border: #0d0d0d;
$panel-primary-border: #0d0d0d;
$panel-primary-text: #eee2c3;
$thumbnail-padding: 3%;
$thumbnail-bg: #eee2c3;
$thumbnail-border-radius: 0;
$thumbnail-border: #eee2c3;
$jumbotron-bg: #333333;
$well-bg: #1a1a1a;
$input-bg: #ecf0f1;
$input-border-focus: #d41a27;
$form-group-margin-bottom: 25px;
$modal-content-bg: #242021;
$modal-header-border-color: #1a1a1a;
$modal-footer-border-color: #1a1a1a;
$dropdown-bg: #000;
$dropdown-link-color: #f9f9f9;
$dropdown-link-hover-color: #ffc902;
$dropdown-link-active-color: #d41a27;
$dropdown-link-active-bg: transparent;
$dropdown-link-hover-bg: transparent;



@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

#large-navigation {
  display: none;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	width: auto;
	height: 150px;
	margin-left: -65px !important;  /* 44px 50% of your logo width */
	margin-top: -20px;
}

.navbar-brand:hover {
	opacity: .6;
}

.navbar-toggle {
  display: block;
  height: auto;
  width: auto;
  margin: 4px 0 0 2%;
  float: left;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #eee2c3;
	height: 7px;
	margin-bottom: 6px;
}

.navbar-toggle:hover {
	opacity: .6;
}

.navbar-text {
	float:left;
  margin: 5px 5% 0 10px;
}

.navbar-right {
	margin-top: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-top: 2%;
}

.navbar-collapse {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  max-height: 455px;
}

.nav_link {
  font-family: 'Suez One', serif;
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  font-size: 24px;
  border-top-color: #ffc902;
  border-bottom-color: #ffc902;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #ffc902;
  border-bottom-color: #ffc902;
}

.dropdown li {
  text-align: right;
}

.dropdown-menu li {
  margin-top: 15px;
  padding-right: 15%;
}


#logo-link {
  margin-top: -60px;
  position: absolute;
  left: 0;
  width: 95px;
  height: auto;
}

#logo-link:hover {
	opacity: .6;
}

#menu-link {
  font-size: 16px;
  float: right;
  color: #d41a27;
  margin-top: 15px;
}

#menu-link:hover {
	text-decoration:none;
	opacity: .6;
}

.alert {
  background-color: transparent;
  margin: 0 0 15px 0;
  font-family: 'Suez One', serif;
  font-size: 18px;
}
.alert-info {
  background-color: #1a1a1a;
  padding: 6% 25px 25px 25px;
  border: none;
  margin-top: 0;
  color: #f9f9f9;
}

.btn-default:hover {
  background-color: #242021;
  color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-primary:hover {
  background-color: #333333;
  color: #d41a27;
  border-color: #d41a27;
}

.form-titles {
  margin: 15px 15px 0 15px;
}

.form-titles h5 {
  text-decoration: underline;
}

.form-footer {
  margin: 0 0 3% 3%;
}


// Vip Form
.input-vip {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: .25em;
    max-width: 400px;
    width: calc(100% - 2em);
    vertical-align: top;
    font-size: 125%;
}

// Kozakura styles
.input--kozakura {
	overflow: hidden;
	padding-bottom: .25em;
}

.input__field {
	position: relative;
	display: block;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
  background: #eee2c3;
	font-weight: normal;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}
.input__field--kozakura {
	padding: 0.25em 0.5em;
	margin-top: 1.25em;
	width: 100%;
  background: transparent;
	color: #242021;
	font-size: 1.55em;
	opacity: 0;
}

.input__label {
	display: inline-block;
	padding: 0 1em;
	width: 40%;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	width: 100%;
}

.input__label--kozakura {
	width: 100%;
	text-align: left;
	position: absolute;
	top: 1em;
	pointer-events: none;
	overflow: hidden;
	padding: 0 0.25em;
	-webkit-transform: translate3d(1em, 2.75em, 0);
	transform: translate3d(1em, 2.75em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--kozakura {
	color: #242021;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--kozakura::after {
	content: attr(data-content);
	position: absolute;
	font-weight: normal;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #f9f9f9;
	padding-bottom: 5px;
	font-family: 'Rye', cursive;
	letter-spacing: 1px;
	font-size: 1em;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: rgba(249, 249, 249, .8);
}

.graphic--kozakura {
	pointer-events: none;
	top: 1em;
	bottom: 0px;
	height: 4.5em;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.7s, fill 0.7s;
	transition: transform 0.7s, fill 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
	-webkit-transition: opacity 0s 0.35s;
	transition: opacity 0s 0.35s;
	opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
	fill: #eee2c3;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

.footer {
	position: relative;
	bottom: 0;
  width: 100%;
	height: 180px;
	background-color: rgba(51, 51, 51, .9);
}

#footer-copy {
   margin-top: 35px;
  
   h5 {
   color: #eee2c3;
   font-style: normal;
   text-align: left;
   margin-top: 0;
  }

   p {
   color: #eee2c3;
   font-style: normal;
   text-align: left;
   margin-top: -6px;
  }

}

#footer-note {
  padding-top: 0;
  color: #242021;
  background: #666;
  text-align: center;
}

#hide-footer {
  display: none;
}

#eagle-image {
  margin: 10px 0 0 10%;
}

#copyright-year {
  color: #eee2c3;
  font-weight: normal;
  text-align: center;
  margin: 15px 0 0 0;
}


.rank {
  margin-left: 15px;
  color: #242021;
}

#home_option {
display: none;
}

#login-jumbotron {
    padding: 5%;
    margin-bottom: 200px;
  }

.table a {
  color: #ffc902;
}

.bottom-menu-links {
  margin: 5% 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	#large-navigation {
  display: block;
  }
  
  #mobile-navigation {
    display: none;
  }
  
  .navbar-toggle {
		display: none;
		}
	.navbar-text {
		display:none;
		}
  .navbar-brand {
    left: 8%;
    height: 165px;
  }
  .navbar-collapse {
  margin-top: 0;
  margin-bottom: 0;
  }
  
 .navbar-right {
  padding-top: 0%;
  margin-top: 0%;
	margin-bottom: 0;
  margin-left: 0;
  padding-right: 40px;
}
  .nav_link {
  font-size: 14px;
  width: 100%;
	font-weight: normal;
  }
  
  .navbar-nav li a {
    line-height: 15px;
  }
  
  .navbar-default .navbar-nav>.dropdown>a .caret {
    font-size: 24px;
    border-top-color: #ffc902;
    border-bottom-color: #ffc902;
  }
  
  .navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #ffc902;
    border-bottom-color: #ffc902;
  }
  
  .dropdown-menu {
    min-width: 110px;
  }
  
  .dropdown li {
    text-align: right;
  }

  #home_option {
  display: none;
  }
  
  .modal-dialog {
    left: 0;
  }
  
  .form-titles {
  margin: 15px 15px 0 0;
  }
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .navbar-brand {
    left: 8%;
  }
  
 .navbar-right {

}
  .nav_link {
  font-size: 16px;
  width: 100%;
  }
  
  .navbar-nav li a {
    line-height: 15px;
  }
  p {
    font-size: 18px;
  }
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 28px;
	}
  
  #footer-copy {
  
     h5 {
     font-size: 18px;
    }

     p {
     line-height: 100%;
    }

  }
  
  // Vip Form
  .input-vip {
    font-size: 150%;
  }
  
  #hide-footer {
  display: block;
  margin-top: 35px;
  }
 
  #footer-copy {
    margin-top: 0;
  }
  
  .footer-links {
  list-style-type: none;
  }

  .footer-links a {
    color: #666;
  }
  
  .footer-links a:hover {
    color: #f9f9f9;
  }
  
  #copyright-year {
    font-size: 14px;
  }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .navbar-brand {
    left: 10%;
    height: 200px;
  }
  .navbar-toggle {
  display: none;
  }
  .navbar-right {
  padding-top: 0%;
  padding-right: 60px;
  margin-right: 3%;
  margin-left: 0%;
  margin-top: 0px;
  }
  .nav_link {
  font-size: 18px;
	margin-bottom: 6px;
  margin-left: 5px;
  }

	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 28px;
	}
}