// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-form .panel-body p {
  color: #666666;
}

#menu-form .panel-footer .btn {
  border-color: #242021;
}

#menu-form .input-lg {
  width: 100%;
} 

#menu-header-image {
  background-image: url("mac-cheese.png");
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: -20px 0 5% 0;
}

#menu-header-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #242021;
  line-height: 90%;
  margin-top: 15%;
}

#menu-header-image h1 small {
  font-size: 80px;
  line-height: 80%;
  color: #d41a27;

}

#menu-style h1 {
  color: #ffd333;
  margin-bottom: 10px;
}

#menu-style .panel-default {
  padding: 5px 0 0 0;
  border-radius: 0;
}

#menu-style .panel-title {
  font-size: 22px;
  color: #d41a27;
  margin-bottom: -15px;
}

#menu-style .panel-heading {
  border-color: #eee2c3;
}

#menu-style .panel-default p {
  color: #242021;
}

#menu-style .panel-footer {
  border-top: none;
}

.menu-price {
  margin-bottom: 10px;
  text-align: right;
  color: #d41a27;
}

.menu-extra {
  margin-top: 5px;
  text-align: right;
  color: #d41a27;
}

#menu-style .thumbnail {
  margin-bottom: 10px;
}

#menu-style .thumbnail .btn-default {
  float: right;
}

.food-photo {
  width: 100%;
}

#menu-style .well {
  border-color: #1a1a1a;
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#menu-style .well p {
  color: #eee2c3;
  font-size: 16px;
  font-weight: normal;
  line-height: 130%;
}

#menu-style .well .btn-default {
  float: right;
}

#menu-style .panel .btn-default {
  float: right;
}

#burger_two{
  display: none;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #burger_two {
    display: block;
}
  #menu-header-image h1 {
  font-size: 52px;
  margin: 10% 0 0 8%;
}
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  #menu-style .well p {
  font-size: 16px;
}
  #menu-header-image {
  background-image: url("mac-cheese-lrg.png");
  height: 500px;
}
  #menu-header-image h1 {
  margin: 150px 0 0 7%;
}
  #menu-header-image h1 small {
  font-size: 130px;
}
  
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


  
}