// Place all the styles related to the MenuPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#photo-form .panel-body p {
  color: #666666;
}

#photo-form .input-lg {
  width: 100%;
}

#photos-form input {
  color: green;
}