// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  color: #666666;
}

#menu-style {
  padding: 3%;
}

#menu-style h1 {
  color: #ffd333;
  margin-bottom: 15px;
}

#menu-style .panel-default {
  padding: 2%;
}

#menu-style .panel-title {
  font-size: 28px;
  color: #d41a27;
  margin-bottom: -15px;
}

#menu-style .panel-heading {
  border-color: #eee2c3;
}

#menu-style .panel-default p {
  color: #242021;
}

.menu-price {
  margin-bottom: 10px;
  text-align: right;
  color: #d41a27;
}

.menu-extra {
  margin-top: 5px;
  text-align: right;
  color: #d41a27;
}

#burger-one {
  margin-bottom:15px;
}

.food-photo {
  width: 100%;
}


