// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  color: #666666;
}

#menu-style {
  padding: 3%;
}

#menu-style p {
  color: #242021;
}

.panel {
  padding: 3%;
}

#menu-style h1 {
  color: #ffd333;
  margin-bottom: 15px;
}

#menu-style h3 {
  color: #d41a27;
  margin-top: -2px;
}

.menu-price {
  margin-top: -10px;
  margin-bottom: 5px;
  float: right;
  color: #d41a27;
}
