// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brunch-form .panel-body p {
  color: #666666;
}

#brunch-form .panel-footer .btn {
  border-color: #242021;
  border-radius: 0;
}

#brunch-form .input-lg {
  width: 100%;
} 

#brunch-header-image {
  background-image: url("bar-superhero800x300.png");
  width: 100%;
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: -20px 0 5% 0;
}

#brunch-header-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #242021;
  line-height: 90%;
  margin-top: 15%;
}

#brunch-header-image h1 small {
  font-size: 80px;
  line-height: 80%;
  color: #d41a27;

}

#brunch-style h1 {
  font-family: 'Rye', cursive;
  color: #eee2c3;
  margin-bottom: 10px;
}

#brunch-style .panel-default {
  padding: 5px 0 0 0;
  border-radius: 0;
  background-color: #f9f9f9;
  border-color: #ccc;
}

#brunch-style .panel-title {
  font-size: 22px;
  color: #d41a27;
  margin-bottom: -15px;
}

#brunch-style .panel-heading {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

#brunch-style .panel-default p {
  color: #242021;
}

#brunch-style .panel-footer {
  border-top: none;
  background-color: #ccc;
}

#brunch-style .panel-footer .btn-default {
  float: right;
}

.menu-price {
  margin-bottom: 10px;
  text-align: right;
  color: #d41a27;
}

.menu-extra {
  margin-top: 5px;
  text-align: right;
  color: #d41a27;
}

#brunch-style .thumbnail {
  margin-bottom: 10px;
  border-color: #f9f9f9;
  background-color: #f9f9f9;
}

#brunch-style .thumbnail .btn-default {
  float: right;
}

.food-photo {
  width: 100%;
}

#brunch-style .well {
  border-color: #1a1a1a;
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#brunch-style .well p {
  color: #ccc;
  font-size: 16px;
  font-weight: normal;
  line-height: 130%;
}

#brunch-style .well .btn-default {
  float: right;
}


#contact-header {
  width: 100%;
  height: auto;
  padding: 0 2% 0 2%;
  margin: 15px 0 0 0;
}

#contact-header h1 {
  font-size: 100px;
  line-height: 75%;
  color: #d41a27;
  letter-spacing: -3px;
}

#contact-header h2 {
  text-align: left;
  font-size: 46px;
  font-weight: normal;
  color: #eee2c3;
  line-height: 90%;
  margin-top: -5px;
  letter-spacing: -2px;
}

#contact-header h3 {
  margin-top: -8px;
}

#contact-header h4 {
  margin-top: 2px;
  text-align:center;
}

#contact-style {
  background-color: #eee2c3;
  padding: 0 3%;
}

#contact-style p {
  font-size: 20px;
  line-height: 130%;
  color: #242021;
  margin-top: 15px;
}

#contact-style h3 {
  font-family: 'Rye', cursive;
  color: #f9f9f9;
  margin-bottom: 10px;
}

#contact-image-one {
  background-image: url("patio-color.png");
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 5% 0 5% 0;
}

// Hours Section
#contact-hours-container {
  margin-bottom: 0;

  #contact-hours-style {
  margin: 15px 15px;
  border: solid 1px #f9f9f9;
  padding: 5%;
  height: auto;
  }

  #contact-hours-style p {
  font-size: 16px;
  color: #eee2c3;
  text-align: center;
  }

  #contact-hours-text {
    text-align: center;
    color: #f9f9f9;
  }
}

#map-jumbotron {
  background-image: url("door-800x300.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 0;
  border-radius: 0;
  height: 250px;
  margin: 5% 2% 15% 2%;
  }

  iframe{
    height: 100%;
    width: 100%;
    opacity: .9;
  }

#contact-jumbotron {
  background-image: url("door-800x300.png");
  background-color: rgba(249, 249, 249, .3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding-top: 2%;
  margin: 5% 2%;
  color: #eee2c3;
  border-radius: 0;
  height: 250px;
  
  p {
    font-family: 'Rye', cursive;
    font-size: 32px;
    color: #000;
    background-color: rgba(249, 249, 249, .4);
    padding: 3%;
    line-height: 90%;
  }
  
  img {
    height: 125px;
    padding: 10px 0;
  }
  
  img:hover {
    opacity: .5;
    width: 120px;
    overflow: visible;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

#manager-container .jumbotron {
  margin-top: 15%;
  margin-bottom: 200px;
  padding-bottom: 5%;
}

//Dashboard Styles

#dashboard-styles{
  p {
    color: #eee2c3;
  }
  h5 {
    margin-top: 40px;
  }
  
  .well-lg a {
    color: #ffc902;
  }
}

// Specials
.specials-menu-style {
  
  h2 {
  font-family: 'Rye', cursive;
  color: #f9f9f9;
  margin-bottom: 20px;
  }
  
  .panel {
    background: #242021;
  }
  .panel-success {
    padding: 5px 0 0 0;
    border-radius: 0;
    border-color: #262626;
  }
  
  .panel-heading {
    border-color: #242021;
    background: #242021;
  }
  
  .panel-title {
    font-size: 32px;
    line-height: 90%;
    color: #ffc902;
    border-color: #242021;
    margin-bottom: -15px;
  }
  
  .panel-body {
    background: #242021;  
  }

  .panel-success p {
    color: #eee2c3;
    font-size: 20px;
    line-height: 100%;
  }

  .panel-footer {
    border-top: none;
    background: #262626;
  }
  
  .panel-footer .btn-default {
    float: right;
  }

  .menu-price h5 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    color: #ffc902;
  }

  .menu-extra h5 {
    margin-top: 5px;
    font-size: 16px;
    text-align: right;
    color: #eee2c3;
  }
  
  .well {
  border-color: #1a1a1a;
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  }

  .well p {
  color: #eee2c3;
  font-size: 16px;
  font-weight: normal;
  line-height: 130%;
  }
  
  .well .btn-default {
    float: right;
  }
  
  .rank {
  color: #eee2c3;
  }
}

#food-specials-image {
  background-image: url("cheeseburger.png");
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: -20px 0 5% 0;
}

#food-specials-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #242021;
  line-height: 90%;
  margin-top: 15%;
}

#food-specials-image h1 small {
  font-family: 'Rye', cursive;
  color: #242021;
}

#drinks-image {
  background-image: url("cherries.png");
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 10% 0 5% 0;
}

#drinks-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #242021;
  line-height: 90%;
  margin-top: 15%;
}

#drinks-image h1 small {
  font-family: 'Rye', cursive;
  color: #242021;
}

#admin-page-links a {
  color: #eee2c3;
}

#admin-page-links a:hover {
  color: #d41a27;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #brunch-header-image {
  height: 200px;
  }
  
  #contact-header {
  margin-bottom: 25px;
  }
  
  #contact-image-one {
    background-image: url("patio-color-lrg.png");
    height: 300px;
    margin: 0 0 3% 0;
  }
    // Hours Section
  #contact-hours-container {
    margin-bottom: 2%;

    #contact-hours-style p {
    font-size: 18px;
    }
  }

  #contact-jumbotron {
    margin: 0 2% 0 2%;
    height: 250px;
    
    p {
    font-size: 36px;
  }
  }
    
  #map-jumbotron {
  height: 250px;
  margin: 5% 2% 15% 2%;
  }
 
// Specials  
  #food-specials-image h1 {
    font-size: 72px;
    line-height: 90%;
    margin: 8% 10%;
  }
  #drinks-image h1 {
    font-size: 72px;
    line-height: 90%;
    margin: 8% 10%;
  }
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
 
    #brunch-header-image {
    background-image: url("bar-superhero-lrg.png");
    width: 100%;
    height: 240px;
    margin: -20px 0 5% 0;
  }
    #brunch-style .well p {
    font-size: 16px;
  }
  
  // Hours Section
  #contact-hours-container {


    #contact-hours-style p {
    font-size: 22px;
    }

  }
  
  #manager-container .jumbotron {
  margin-top: 5%;
  margin-bottom: 200px;
  padding-bottom: 5%;
}

//Specials  
  #food-specials-image {
    background-image: url("cheeseburger-lrg.png");
    height: 500px;
  }

  #food-specials-image h1 {
    font-size: 100px;
    margin: 10% 10%;
  }

  #drinks-image {
    background-image: url("cherries-lrg.png");
    height: 500px;
  }

  #drinks-image h1 {
    font-size: 100px;
    margin: 10% 10%;
  }
  
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #brunch-header-image {
  background-image: url("bar-superhero-lrg.png");
  width: 100%;
  height: 280px;
  margin: -20px 0 5% 0;
  }
  #contact-image-one {
    height: 400px;
  }
  
  #contact-header {
  margin: 0 0 15px 0;
  }
  

}