// Place all the styles related to the SpecialsMenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#specials-menu-form .panel-body p {
  color: #666666;
}

#specials-menu-form .input-lg {
  width: 100%;
}

#food-specials-style {
  
  h2 {
  font-family: 'Rye', cursive;
  color: #f9f9f9;
  margin-bottom: 20px;
  }
  
  .panel {
    background: #333333;
  }
  .panel-success {
    padding: 5px 0 0 0;
    border-radius: 0;
    border-color: #333333;
  }
  
  .panel-heading {
    border-color: #333333;
    background: #333333;
  }
  
  .panel-title {
    font-size: 42px;
    color: #ffc902;
    border-color: #333333;
    margin-bottom: -15px;
  }
  
  .panel-body {
    background: #333333;  
  }

  .panel-success p {
    color: #eee2c3;
    font-size: 26px;
    line-height: 95%;
  }

  .panel-footer {
    border-top: none;
    background: #262626;
  }

  .menu-price h5 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    color: #ffc902;
  }

  .menu-extra h5 {
    margin-top: 5px;
    font-size: 18px;
    text-align: right;
    color: #eee2c3;
  }
}

#happy-food-special {
  
  h2 {
  font-family: 'Rye', cursive;
  color: #f9f9f9;
  margin-bottom: 20px;
  }
  
  .panel {
    background: #333333;
  }
  .panel-success {
    padding: 5px 0 0 0;
    border-radius: 0;
    border-color: #333333;
  }
  
  .panel-heading {
    border-color: #333333;
    background: #333333;
  }
  
  .panel-title {
    font-size: 42px;
    color: #ffc902;
    border-color: #333333;
    margin-bottom: -15px;
  }
  
  .panel-body {
    background: #333333;  
  }

  .panel-success p {
    color: #eee2c3;
    font-size: 26px;
    line-height: 95%;
  }

  .panel-footer {
    border-top: none;
    background: #262626;
  }
  
  .menu-price h5 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    color: #ffc902;
  }

  .menu-extra h5 {
    margin-top: 5px;
    font-size: 18px;
    text-align: right;
    color: #eee2c3;
  }
}

#drinks-image {
  background-image: url("cherries.png");
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 10% 0 5% 0;
}

#drinks-image h1 {
  text-align: left;
  font-size: 52px;
  font-weight: bold;
  color: #242021;
  line-height: 90%;
  margin-top: 15%;
}

#drinks-image h1 small {
  font-family: 'Rye', cursive;
  color: #242021;
}

#happy-drinks-style {
  
  h2 {
  font-family: 'Rye', cursive;
  color: #f9f9f9;
  margin-bottom: 20px;
  }
  
  .panel {
    background: #242021;
  }
  .panel-success {
    padding: 5px 0 0 0;
    border-radius: 0;
    border-color: #262626;
  }
  
  .panel-success p {
    color: #eee2c3;
    font-size: 16px;
    line-height: 100%;
  }
  
  .panel-heading {
    border-color: #242021;
    background: #242021;
  }
  
  .panel-title {
    font-size: 24px;
    color: #d41a27;
    border-color: #333333;
    margin-bottom: -15px;
  }
  
  .panel-body {
    background: #242021; 
    border-right-color: #1a1a1a;
  }

  .panel-footer {
    border-top: none;
    background: #262626;
  }

  .menu-price h5 {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
    color: #ffc902;
  }

  .menu-extra h5 {
    margin-top: 5px;
    font-size: 18px;
    text-align: right;
    color: #d41a27;
  }
}