// Place all the styles related to the Weekends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#weekend-form {
  
  .panel-body p {
    color: #666666;
  }

  .panel-footer .btn-default {
    border-color: #242021;
    border-radius: 0;
  }

  .input-lg {
    width: 100%;
  }

  h4 {
    color: #242021;
  }
  
  h6 {
    color: #242021;
  }
}