// Place all the styles related to the Weekends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#weekend-form {
  
  .panel-body p {
    color: #666666;
  }

  .panel-footer a {
    color: #242021;
  }

  .panel-footer a:hover {
    color: #d41a27;
  }

  .input-lg {
    width: 100%;
  }

  h4 {
    color: #242021;
  }
}