<div id="footer-layout">
  <div class="container-fluid">
			<div class="row">
        <div class="col-xs-6">
          <%= image_tag('eagle-logo.png', :id=>'eagle-image', :alt=>'Eagle Logo') %>
        </div>
				<div class="col-xs-6 col-sm-12 col-md-12">
          <div id="footer-copy">
            <h5>Cool Beans</h5>
            <p>1201 W. Hickory St.<br>
          Denton, TX 76201<br>
          940-382-7025</p>
          </div>
				</div>
		</div>
	</div>
</div>
<div id="footer-note">
    <div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
          <p>11am to 2am everyday | 11am to 9pm all ages</p>
				</div>
		</div>
	</div>
</div>
